/*index 부분 스타일입니다.*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif !important;
}

body {
  display: flex;
  height: 100vh;
}

h1 {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 38px !important;
  letter-spacing: -0.02em !important;
  color: #000000 !important;
  margin-bottom: 38px !important;
}

img {
  height: 100%;
}

.loginimg {
  overflow: hidden;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.loginpage__form {
  width: 70%;
}

input {
  color: var(--sub_grey1);
  box-sizing: border-box;
  border: 1px solid var(--sub_grey1);
  padding: 0 16px;
  width: 98%;
  height: 50px;
  border-radius: 8px;
}

.loginpage__name {
  margin-bottom: 8px;
}

.loginpage__input {
  display: flex;
  flex-direction: column;
}

.loginpage__btn {
  font-size: 16px;
  color: white;
  background-color: var(--sub_grey1);
}

.active_btn {
  background-color: var(--main_black);
}
